.main .hero{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .hero .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}
.main .hero .grid .grid-comp{
    width: 75px;
    height: 75px;
    background-color: #7dd5f1;
    border-radius: 0.6rem;
}
.main .hero .grid .grid-comp:active{
    background-color: #58a6bf;
}
.main .hero .grid .grid-comp img{
    width: 75px;
    height: auto;
    cursor: pointer;
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/* Small screens */
@media only screen and (max-width: 900px) {
    .hero h2 {
        display: none;
    }
    .grid {
        margin-top: 0rem;
    }
}
/* Large screens */
@media only screen and (min-width: 900px) {
    .grid {
        margin-top: 40px;
    }
}
