.main .right-side-bar .right {
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #F9CB86;
    border-radius: 0.5rem;
    background-image: url('../../images/cross-darkyellow.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
}

#right-1{background-size: 25px 25px;}
#right-2{background-size: 33px 33px;}
#right-3{background-size: 42px 42px;}
#right-4{background-size: 50px 50px;}

.right-side-bar h1{
    border-bottom: 1px solid black;
    margin: 5px;
}

.right-side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform .5s;

}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform .5s;
}
.right-side-bar .freq{
    position: relative;
    top: -10px;
    left: 60px;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: #433521;
    border-radius: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
}

/* Small screens */
@media only screen and (max-width: 900px) {
    .right-side{
        flex-direction: row;
        padding: 4rem 1rem 2rem 1rem;
    }
    .right-side-bar {
        flex-direction: column-reverse;
        margin: auto;
    }
}
/* Large screens */
@media only screen and (min-width: 900px) {
    .right-side{
        flex-direction: column;
        width: 200px;
    }
}
